body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 45px;
}
.one{
    color: deeppink;
}
h3{
    color: rgb(95, 95, 238);
}
.flexible-contain{
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(deeppink, lightpink);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(pics/images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(pics/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences-area{
    background-image: url(pics/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 12px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(82, 69, 69);
}
#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(orange, rgb(165, 52, 18));
    border-image-slice: 1;
}
#web-dev-ex{
    border-left: 7px solid;
    border-image: linear-gradient(blue, purple);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
